<div class="row">
  <div *ngFor="let photo of photos" class="col-sm-2">
    
      <h5 class="text-center mt-3">{{photo.userName}}</h5>
      
      <img class="img-thumbnail p-1" src="{{photo.url || '../../../assets/user.png'}}" alt="photo.userName">
      
      <div class="btn-group">
          <button class="btn btn-primary w-50" (click)="acceptPhoto(photo.id)">Accept</button>
          <button class="btn btn-danger w-50" (click)="rejectPhoto(photo.id)">Reject</button>
      </div>
    </div>

  
</div>